<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Api" version="15.0.0" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.10.2" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
</packages>