<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="WorkspaceID" value="-1" />
		<Parameter name="TestWorkspaceName" value="Integration Test Workspace" />
		<Parameter name="TestWorkspaceTemplateName" value="New Case Template" />
		<Parameter name="AdminUsername" value="relativity.admin@relativity.com" />
		<Parameter name="AdminPassword" value="Test1234!" />
		<Parameter name="SQLUserName" value="eddsdbo" />
		<Parameter name="SQLPassword" value="Test1234!" />
		<Parameter name="SQLServerAddress" value="172.25.138.171" />
		<Parameter name="TestingServiceRapPath" value="" />
		<Parameter name="UploadTestingServiceRap" value="" />
		<Parameter name="EmailTo" value="thomas.lachin@relativity.com" />
		<Parameter name="RSAPIServerAddress" value="172.25.138.171" />
		<Parameter name="RESTServerAddress" value="172.25.138.171" />
		<Parameter name="ServerBindingType" value="http" />
		<Parameter name="RelativityInstanceAddress" value="172.25.138.171" />
	</TestRunParameters>
</RunSettings>