<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="WorkspaceID" value="1017508" />
		<add key="WorkspaceName" value="Example Integration Test" />
		<add key="ServerHostBinding" value="http" />
		<add key="ServerHostName" value="devvm-10.0" />
		<add key="AdminUsername" value="relativity.admin@relativity.com" />
		<add key="AdminPassword" value="Test1234!" />
		<add key="SQLUsername" value="eddsdbo" />
		<add key="SQLPassword" value="Test1234!" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>