<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="NUnit" version="3.13.1" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="Relativity.Api" version="15.0.0" targetFramework="net462" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.16.12" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Kepler.Client.SDK" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.OAuth2.Client" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="12.1.171.20" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2021.8.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Client" version="9.4.164" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="3003.1.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="3003.0.2" targetFramework="net462" />
  <package id="Relativity.Transfer.Client" version="7.4.7" targetFramework="net462" />
  <package id="RelativityDev.DbContextHelper" version="5.0.0.1" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.38" targetFramework="net462" />
</packages>