<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.API" version="17.0.2" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.14.4" targetFramework="net462" />
  <package id="Relativity.Logging" version="3000.1.2" targetFramework="net462" />
</packages>