<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Relativity.Api" version="9.6.85.9" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="9.6.85.9" targetFramework="net462" />
  <package id="Relativity.Other" version="9.6.85.9" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.6.85.9" targetFramework="net462" />
  <package id="RelativityDev.DbContextHelper" version="1.0.0.1" targetFramework="net462" />
</packages>