<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Core" version="1.6.0" targetFramework="net462" />
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net462" />
  <package id="kCura.OutsideIn.FI.Win32" version="2020.7.0" targetFramework="net462" />
  <package id="MailKit" version="2.2.0" targetFramework="net462" />
  <package id="MimeKit" version="2.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="Relativity.API" version="15.6.3" targetFramework="net462" />
  <package id="Relativity.DataExchange.Client.SDK" version="1.12.21" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.10.2" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="2.10.2" targetFramework="net462" />
  <package id="Relativity.Logging" version="2019.5.1" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="3000.1.2" targetFramework="net462" />
  <package id="Relativity.OAuth2.Client" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.ObjectManager" version="12.0.78.6" targetFramework="net462" />
  <package id="Relativity.Other" version="13.0.7" targetFramework="net462" />
  <package id="Relativity.OutsideIn" version="2021.1.0" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="10.3.191.8" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="13.2.6" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="11.3.11.1" targetFramework="net462" />
  <package id="Relativity.Telemetry.Client" version="9.4.164" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="3003.1.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="3000.0.1" targetFramework="net462" />
  <package id="relativity.transfer.client" version="7.2.26" targetFramework="net462" />
  <package id="RelativityDev.DbContextHelper" version="5.0.0.1" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>