<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
	<package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
	<package id="Polly" version="5.3.1" targetFramework="net462" />
	<package id="Relativity.Api" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.EventHandler" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.Import.Client" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.Logging" version="2018.11.5" targetFramework="net462" />
	<package id="Relativity.OAuth2.Client" version="1.0.27" targetFramework="net462" />
	<package id="Relativity.ObjectManager" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.Other" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.OutsideIn" version="2018.9.0" targetFramework="net462" />
	<package id="Relativity.Rsapi" version="10.1.116.12" targetFramework="net462" />
	<package id="Relativity.Telemetry.Client" version="9.4.164" targetFramework="net462" />
	<package id="Relativity.Transfer.Client" version="5.0.2" targetFramework="net462" />
	<package id="RelativityDev.DbContextHelper" version="2.0.0.4" targetFramework="net462" />
	<package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
	<package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>